*{
    padding:0%;
    margin:0%;
    color: white;
}

body{
    background-color: rgb(15, 15, 15);
}

.header{
    position: fixed;
    z-index: 1000;
    background-color: rgba(15, 15, 15,0.75);
    width: 100%;
    height: 50px
}

.under-header{
    z-index: 11111;
    background-color: rgba(255, 0, 0,0);
    width: 100%;
    height: 50px
}

.blur{
    position: absolute;
    inset: 0px;
    width: 17rem;
    height: 17rem;
    max-width: 100vw;
    max-height: 100dvh;
    margin: auto;
    background-color: aquamarine;
    background: radial-gradient(circle at 50% 50%, rgb(3, 82, 255), rgba(76, 0, 255, 0));
    filter: blur(100px);
}

.image1{
    width: 200px;
    height: 290px;
    position: absolute;
    top: 120px;
    left: 10%;
}

.main-text{
    padding-top: 50px;
    position: absolute;
    text-align: center;
    z-index: 10;
    inset: 0px;
    width: 18rem;
    font-size:80px;
    height: 17rem;
    max-width: 100vw;
    max-height: 100dvh;
    margin: auto;
}

.upper-text{
    padding-top: 0px;
    position: absolute;
    text-align: center;
    color: rgb(38, 120, 168);
    z-index: 10;
    inset: 0px;
    width: 18rem;
    font-size:20px;
    height: 17rem;
    max-width: 100vw;
    max-height: 100dvh;
    margin: auto;
}